* {
	padding: 0;
	margin: 0;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 100%;
	line-height: 1.25;
	color: #FFF;
	box-sizing: border-box;
}

body {
	background: #8e44e2;
	color: rgba(0, 0, 0, 0.45);
}

.container {
	margin: 1% auto 0;
	width: 65%;
}

@media (max-width: 600px) {
	.container {
		margin: 5% auto 0;
		width: 75%;
	}
}

h1 {
	width: 100%;
	font-size: 2em;
	text-align: center;
	margin: 2% auto;
}

.info {
	background: rgba(255, 255, 255, .09);
	padding: 2%;
}

.result {
	font-size: 35px;
	text-align: center;
}

label {
	margin: 3% 0 1%;
	position: relative;
	float: left;
}

input, textarea, select {
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	border: 2px solid #FFF;
	color: #fff;
	display: block;
	width: 100%;
	background: transparent;
	box-sizing: border-box;
	outline: 0;
}

.display-input {
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #1f80c9;
}

.submit {
	width: 150px;
	border-radius: 5px;
	border-style: none;
	background: #8e44e2;
	color: #FFF;
	font-size: 25px;
	margin: 5% auto;
	border: 2px solid #FFF;
	cursor: pointer;
	transition: all .6s;
}

.submit:hover {
	background: #FFF;
	color: #8e44e2;
}